<template>
  <div class="dropdown-container" @click="isOpen = !isOpen" :class="{dark : theme}">
    <a href="#">
      {{ title }}
    </a>
    <transition name="fade" appear>
      <div v-show="isOpen" class="sub-menu" :class="{dark : theme}">
        <div v-for="(item, i) in list" :key="i" class="menu-item">
          <a :href="item.to">{{ item.title }}</a>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'Dropdown',
  props: {
    title: String,
    to: String,
    active: Boolean,
    list: {
      type: Array,
      default: () => [],
    },
  },
  data () {
    return {
      isOpen: false,
    }
  },
  computed: {
    theme() {
      return this.$store.getters.MODE;
    },
  },
}
</script>

<style scoped>
.dropdown-container {
  position: relative;
  padding: 4px 30px 4px 8px;
  margin: 0px 8px;
  cursor: pointer;
  border-radius: 8px;
  background-image: url(../../assets/image/icon/dropdown.svg);
  background-position: center right 8px;
  background-repeat: no-repeat;
  background-size: 16px;
  transition: opacity .2s linear, background .2s linear;
}
.dropdown-container a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: -0.2px;
  color: rgba(10, 51, 92, 0.64);
}
.dropdown-container:hover {
  background-color: #F3F5F7;
}
.dropdown-container.active {
  color: #0A335C;
}

/* drop menu style */
.menu-item {
  padding: 8px 16px;
  text-align: left;
  border-radius: 8px;
  transition: .2s linear;
}
.menu-item:hover {
  background-color: #F3F5F7;
}
.menu-item a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #0A335C;
  opacity: 0.64;
}
.sub-menu {
  opacity: 1;
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #E6EBEF;
  border-radius: 8px;
  top: calc(100% + 4px);
  left: 0;
  width: max-content;
}

/* tra */
.fade-enter-active,
.fade-leave-active {
  transition: all .2s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* dark style*/

.dropdown-container.dark {
  background-image: url(../../assets/image/icon/dropdown-dark.svg);
}
.dropdown-container.dark a {
  color: rgba(255, 255, 255, 0.64);
}
.dropdown-container.dark:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.dropdown-container.active.dark {
  color: #ffffff;
}

.dark .menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.dark .menu-item a {
  color: rgba(255, 255, 255, 0.64);
}
.sub-menu.dark {
  background: #0A335C;
  border-color: #9FB8C6;
}

</style>
