<template>
  <div v-if="list?.length < 1" class="link-container" :class="{active : active, dark : theme}">
    <a :href="to">
      {{ title }}
    </a>
  </div>
  <div v-else-if="!isDrop">
    <Dropdown
      :title="title"
      :list="list"
    />
  </div>
  <div v-else>
    <div
      v-for="item in list"
      :key="item"
      class="mobile-link-item"
    >
      <a :href="item.to">
        {{ item.title }}
      </a>
    </div>
  </div>
</template>

<script>
import Dropdown from './Dropdown.vue'
export default {
  name: 'LinkItem',
  props: {
    title: String,
    to: String,
    active: Boolean,
    isDrop: Boolean,
    list: {
      type: Array,
      default: () => [],
    },
  },
  components: {
    Dropdown,
  },
  computed: {
    theme() {
      return this.$store.getters.MODE;
    },
  },
}
</script>

<style scoped>
.link-container {
  padding: 4px 8px;
  margin: 0px 8px;
  cursor: pointer;
  border-radius: 8px;
  transition: opacity .2s linear, background .2s linear;
}
.link-container a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: -0.2px;
  color: rgba(10, 51, 92, 0.64);
}
.link-container:hover {
  background: #F3F5F7;
}
.link-container.active a {
  color: #0A335C;
}

/* dark style*/
.link-container.dark a {
  color: rgba(255, 255, 255, 0.64);
}
.link-container.dark:hover {
  background: rgba(255, 255, 255, 0.1);
}
.link-container.dark.active a {
  color: #ffffff;
}

@media (max-width: 991px) {
  .link-container {
    padding: 16px 44px 16px 0px;
    margin: 0px 0px 0px 44px;
    cursor: pointer;
    border-radius: 0px;
    transition: opacity .2s linear, background .2s linear;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .link-container a {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    letter-spacing: -0.2px;
    color: rgba(255, 255, 255, 1);

  }
  .link-container:hover {
    background: transparent;
  }
  .link-container.active a {
    color: #ffffff;
  }
  /* dark style*/
  .link-container.dark a {
    color: rgba(255, 255, 255, 1);
  }
  .link-container.dark:hover {
    background: transparent;
  }
  .link-container.dark.active a {
    color: #ffffff;
  }
  .mobile-link-item {
    text-align: left;
    padding: 16px 44px;
  }
  .mobile-link-item a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
  }
}
</style>
