<template>
  <div class="modal-container" @click="close">
    <div class="modal-body" :class="{dark : theme}">
      <div class="text">{{ 'Вау, ваша швидкість ' + speed + ' знаків у хвилину' }}</div>
      <div v-show="error > 0" class="text">{{ 'Тільки ' + error + ' помилок' }}</div>
      <Restart @click="restart"/>
      <div class="close-btn" @click="close" />
    </div>
  </div>
</template>

<script>
import Restart from '../core/restart.vue'
export default {
  name: 'modal',
  props: {
    error: {
      type: Number,
      default: 0,
    },
    speed: {
      type: Number,
      default: 0,
    },
  },
  components: {
    Restart
  },
  computed: {
    theme() {
      return this.$store.getters.MODE;
    },
  },
  methods: {
    restart() {
      this.$emit("restart")
    },
    close() {
      this.$emit("close")
    },
  },
}
</script>

<style scoped>
.modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.modal-body {
  max-width: 290px;
  background: #FFFFFF;
  border: 1px solid #E6EBEF;
  border-radius: 8px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.modal-body.dark {
  background: #0A335C;
  border-color: #9FB8C6;
}
.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #0A335C;
  margin-bottom: 15px;
}
.dark .text {
  color: #fff;
}
.close-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url(../../assets/image/icon/close.svg);
}

</style>
