<template>
  <div>
    <div class="restart-button" :class='{open : isOpen}' @click="restart"/>
  </div>
</template>

<script>
export default {
  name: 'restart',
  props: {
    isOpen: Boolean,
  },
  methods: {
    restart() {
      this.$emit("restart")
    }
  }
}

</script>

<style scoped>
/* restart btn*/
.restart-button {
  width: 32px;
  height: 32px;
  background-image: url(../../assets/image/icon/restart.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.restart-button.open {
  background-image: url(../../assets/image/icon/restart-white.svg);
}

.restart-button:hover {
  animation: .7s linear 0s normal none running rot;
  -webkit-animation: .7s linear 0s normal none running rot;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
