<template>
  <header class="header" :class="{dark : theme, open : isOpenMobile}">
    <div class="header-container">
      <nav class="navigation-container">
        <div class="logo-cotainer">
          <a href="#">
            <img v-show="theme || isOpenMobile" src="../assets/image/Size=large_Theme=dark.svg" alt="logo type">
            <img v-show="!theme && !isOpenMobile" src="../assets/image/Size=large_Theme=light.svg" alt="logo type">
          </a>
        </div>
        <div class="logo-cotainer-mobile">
          <a href="#">
            <img v-show="theme || isOpenMobile" src="../assets/image/Size=small_Theme=dark.svg" alt="logo type">
            <img v-show="!theme && !isOpenMobile" src="../assets/image/Size=small_Theme=light.svg" alt="logo type">
          </a>
        </div>
        <div class="navigation">
          <LinkItem
            v-for="item in nav"
            :key="item"
            :title="item.title"
            :list="item.list"
            :to="item.to"
            :active='item.title == activeItem ? true : false'
          />
        </div>
      </nav>

      <div class="action-container">
        <div class="action-btn-container">
          <Restart :isOpen="isOpenMobile" @restart="restart"/>
          <div class="theme-button" :class="{dark : theme}" @click="changeMode"/>
        </div>
        <div class="user-container">
          <a href="#">
            <img src="../assets/image/user_image.png" :alt="user.name" class="user-icon">
          </a>
        </div>
        <!-- for mobile -->
        <div class="menu-button" :class="{dark : theme, open : isOpenMobile}" @click="isOpenMobile = !isOpenMobile"/>
        <div v-show="isOpenMobile" class="modile-nav-container">
          <LinkItem
            v-for="item in nav"
            :key="item"
            :title="item.title"
            :list="item.list"
            :to="item.to"
            :isDrop="true"
            :active='item.title == activeItem ? true : false'
          />
          <div class="user-container-mobile">
            <a href="#">
              <img src="../assets/image/user_image.png" :alt="user.name" class="user-icon">
            </a>
            <div class="user-info-container">
              <div class="user-name">
                {{ user.name }}
              </div>
              <div class="user-coin">
                {{ user.coin }}
              </div>
            </div>
          </div>
        </div>
        <!-- for mobile -->
      </div>
    </div>
  </header>
</template>

<script>
import LinkItem from './core/LinkItem.vue'
import Restart from './core/restart.vue'
export default {
  name: 'myheader',
  components: {
    LinkItem,
    Restart
  },
  data () {
    return {
      nav: [
        {
          title: 'Тест',
          to: "#",
        },
        {
          title: 'Тренажер',
          to: "#",
        },
        {
          title: 'Навчання',
          to: "#",
        },
        {
          title: 'Більше',
          list: [
            {
              title: 'Для вчителів',
              to: "#",
            },
            {
              title: 'Про нас',
              to: "#",
            },
            {
              title: 'Рейтинг',
              to: "#",
            },
            {
              title: 'Допомога',
              to: "#",
            },
            {
              title: 'Контакти',
              to: "#",
            },
            {
              title: 'Підтримати проєкт',
              to: "#",
            },
          ],
        },
      ],
      user: {
        name: 'Alex',
        coin: "32 323",
        userUrl: null,
      },
      show: false,
      activeItem: 'Тренажер',
      darkMode: false,
      isOpenMobile: false,
    }
  },
  methods: {
    // restart game
    restart() {
      console.log('restart');
      this.$store.dispatch('SET_RESTART', !this.restartMode);
    },
    // change theme
    changeMode() {
      this.darkMode = !this.theme;
      this.$store.dispatch('SET_MODE', this.darkMode);
    },
  },
  computed: {
    theme() {
      return this.$store.getters.MODE;
    },
    restartMode() {
      return this.$store.getters.RESTART;
    },
  },
}
</script>

<style scoped>
.header {
  height: 76px;
}
.header.dark {
  background: #0A335C;
}
.header-container {
  max-width: 1276px;
  margin: 0 auto;
  padding: 0px 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo-cotainer {
  margin-right: 24px;
}

/* action bar*/

.action-container {
  display: flex;
  align-items: center;
}

.user-container {
  width: 40px;
  height: 40px;
  background-color: #9FB8C6;
  border-radius: 50%;
  margin-left: 16px;
}
.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* theme btn*/

.theme-button {
  width: 32px;
  height: 32px;
  background-image: url(../assets/image/icon/dark-mode.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 32px;
  transition: background .2s linear;
}
.theme-button.dark {
  background-image: url(../assets/image/icon/light-mode.svg);
}
.menu-button,
.modile-nav-container {
  display: none;
}
.action-btn-container {
  display: flex;
  align-items: center;
}
.logo-cotainer-mobile {
  display: none;
}
.logo-cotainer {
  display: block;
}

@media (max-width: 991px) {
  .navigation {
    display: none;
  }
  .user-container {
    display: none;
  }
  .menu-button {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url(../assets/image/icon/burger-menu-blue.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .menu-button.dark {
    background-image: url(../assets/image/icon/burger-menu-white.svg);
  }
  .menu-button.open {
    background-image: url(../assets/image/icon/close-white.svg);
  }
  .modile-nav-container {
    display: block;
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00ACFF;
    overflow-y: scroll;
  }
  .header.open {
    background: #00ACFF;
  }
  .user-container-mobile {
    display: flex;
    align-items: center;
    padding: 20px 44px;
  }
  .user-info-container {
    margin-left: 16px;
    text-align: left;
  }
  .user-name,
  .user-coin {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
  .user-coin {
    padding-left: 28px;
    background-image: url(../assets/image/icon/gold-coin.svg);
    background-position: left center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 480px) {
  .action-btn-container {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
  .theme-button {
    margin-right: 0;
    margin-left: 32px;
  }
  .logo-cotainer-mobile {
    display: block;
  }
  .logo-cotainer {
    display: none;
  }
}
</style>
