<template>
  <div class="main-container" :class="{dark : theme}" @click="focus">
    <div class="row-container">
        <div class="bird" :class="{eat : eat, error: error}">
          <svg width="176" height="176" viewBox="0 0 176 176" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_13_23)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M65.738 40.2499H114.387C112.188 28.8204 102.134 20.1862 90.0628 20.1862C77.9916 20.1862 67.937 28.8204 65.738 40.2499Z" fill="#2268BA"/>
              <path d="M60.9472 134.169L67.5986 151.56C67.9156 152.389 66.827 153.022 66.2629 152.337C65.1232 150.953 63.0807 150.722 61.6454 151.796C60.952 152.315 59.9477 152.066 59.5903 151.277L59.3611 150.771C58.5289 148.933 56.5762 147.873 54.5817 148.176L54.2814 148.222C53.2083 148.385 52.2771 147.476 52.4139 146.399L53.8598 135.02C54.1751 132.538 56.8211 131.088 59.0826 132.157C59.9403 132.562 60.6083 133.283 60.9472 134.169Z" fill="#D76423"/>
              <path d="M78.0456 134.424L84.697 151.815C85.014 152.643 83.9254 153.277 83.3613 152.592C82.2215 151.208 80.1791 150.977 78.7438 152.051C78.0504 152.57 77.0461 152.321 76.6887 151.532L76.4595 151.025C75.6273 149.188 73.6746 148.127 71.6801 148.431L71.3798 148.476C70.3067 148.639 69.3754 147.731 69.5123 146.654L70.9581 135.274C71.2734 132.793 73.9195 131.342 76.181 132.411C77.0387 132.817 77.7067 133.538 78.0456 134.424Z" fill="#D76423"/>
              <path d="M6.4547 86.518L42.0333 59.7317L76.9411 114.633C76.0739 113.296 52.1453 120.815 35.7 115.797C20.5529 111.175 10.3779 92.1065 6.4547 86.518Z" fill="#2268BA"/>
              <path d="M119.913 96.2609C117.895 121.235 95.7018 139.82 70.3434 137.771C44.985 135.722 26.0638 113.815 28.0817 88.8411C30.0995 63.867 52.2924 45.2824 77.6508 47.3313C90.1861 48.3441 97.0735 58.3267 104.711 67.0161C112.524 75.9051 120.933 83.6321 119.913 96.2609Z" fill="#3375C4"/>
              <path d="M77.1473 36.5969L77.1238 56.0906L169.135 56.0906C161.747 49.1863 143.157 41.5386 124.805 40.1393L77.1473 36.5969Z" fill="#FFB463"/>
              <path id="jaw" :class="{eat : eat, error: error}" d="M169.422 65.6618L169.56 61.8693L92.0398 55.2354L105.498 125.374C139.607 126.451 168.176 99.7649 169.422 65.6618Z" fill="#FFB463"/>
              <rect x="50.3115" y="19.4305" width="41.9765" height="65.6194" rx="20.9883" transform="rotate(0.09 50.3115 19.4305)" fill="#3375C4"/>
              <circle cx="70.3832" cy="40.5175" r="12.0793" transform="rotate(0.038969 70.3832 40.5175)" fill="white"/>

              <circle id="eye" :class="{angry : errorCountInArow > 3}" cx="73.0779" cy="40.6964" r="7.32678" transform="rotate(0.038969 73.0779 40.6964)"/>
            </g>
            <defs>
              <clipPath id="clip0_13_23">
                <rect width="176" height="176" fill="white" transform="matrix(-1 0 0 1 176 0)"/>
              </clipPath>
            </defs>
          </svg>
        </div>
        

        <div class="string-container" @keydown.esc="deleteKey()">{{ string }}</div>
    </div>
    <div v-if="!IsOpenModal && stopGame" class="text-container">
      Треба почати спочатку
    </div>
    <input v-model="type" class='hidden-input' type="text" ref="type" @input="changeInput">
    <modal
      v-if="IsOpenModal"
      :error="errorCount"
      :speed="speed"
      @restart="restart"
      @close="close"
    />
  </div>
</template>

<script>
import modal from './core/modal.vue'
export default {
  name: 'Main',
  data () {
    return {
      string: "ddfdf dffdf ffddd ddfff ddfdf dffdf ffddd ddfff",
      startString: "ddfdf dffdf ffddd ddfff ddfdf dffdf ffddd ddfff",
      startTime: null,
      speed: null,
      eat: false,
      error: false,
      errorCount: 0,
      errorCountInArow: 0,
      IsOpenModal: false,
      stopGame: false,
      type: '',
    }
  },
  components: {
    modal,
  },
  mounted() {
    // start focus on modile, or add listener
    var isMobile = navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i)
    if (!isMobile) {
      window.addEventListener('keydown',this.deleteKey);
      window.addEventListener('keyup',this.startPos);
    } else {
      this.focus();
    }
  },
  computed: {
    theme() {
      return this.$store.getters.MODE;
    },
    restartMode() {
      return this.$store.getters.RESTART;
    },
  },
  methods: {
    // detele letter
    deleteKey(e) {
      if (!this.stopGame) {
        if (e.key === this.string[0]) {
          this.string = this.string.substr(1);
          this.eat = true;
          this.errorCountInArow = 0;
          this.examEnd();
          if (this.startTime == null) {
            this.startTime = new Date().getTime();
          }
        } else {
          this.error = true;
          this.errorCount++;
          this.errorCountInArow++;
        }
      }
    },
    focus() {
      this.$refs.type.focus();
    },
    startPos() {
      this.eat = false;
      this.error = false;
    },
    // end of game
    examEnd() {
      if (this.string.length < 1) {
        this.IsOpenModal = true;
        this.stopGame = true;
        this.deltaTime();
      }
    },
    // restart game
    restart() {
      this.string = this.startString;
      this.eat = false;
      this.error = false;
      this.errorCount = 0;
      this.errorCountInArow = 0;
      this.IsOpenModal = false;
      this.stopGame = false;
      this.startTime = null;
    },
    // close modal
    close() {
      this.IsOpenModal = false;
    },
    // check for change input
    changeInput() {
      let x = {}
      x.key = this.type;
      this.deleteKey(x);
      this.type = '';
    },
    // speed of type
    deltaTime() {
      let x = ((new Date().getTime() - this.startTime) / 1000).toFixed(0);
      this.speed = (this.startString.length / x * 60).toFixed(0);
    },
  },
  // delete listener
  unmounted() {
    window.removeEventListener('keydown', this.deleteKey);
    window.removeEventListener('keyup',this.startPos);
  },
  watch: {
    restartMode() {
      console.log('restart');
      this.restart();
    },
  },
}
</script>


<style scoped>
.text-container {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: #0A335C;
  text-align: center;
}
.dark .text-container {
  color: #fff;
}
.main-container {
  height: 100%;
  max-width: 1276px;
  margin: 0 auto;
  padding: 24px 30px;
  min-height: 100%;
}
.main-container.dark {
  background: #0A335C;
}
.row-container {
  display: flex;
  align-items: center;
}
.bird {
  width: 176px;
  height: 176px;
  margin-right: 32px;
}

.bird.eat {
  -webkit-animation: .1s linear 0s alternate eat;
     -moz-animation: .1s linear 0s alternate eat;
       -o-animation: .1s linear 0s alternate eat;
          animation: .1s linear 0s alternate eat;
}

.bird.error {
  -webkit-animation: .1s linear 0s alternate error;
     -moz-animation: .1s linear 0s alternate error;
       -o-animation: .1s linear 0s alternate error;
          animation: .1s linear 0s alternate error;
}

#jaw.eat {
  -webkit-animation: .1s linear 0s alternate eatBeak;
     -moz-animation: .1s linear 0s alternate eatBeak;
       -o-animation: .1s linear 0s alternate eatBeak;
          animation: .1s linear 0s alternate eatBeak;
  transform-origin: 100px 55px;
}

#eye {
  fill: black;
}

#eye.angry {
  fill: red;
}

.string-container {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 136px;
  color: #0A335C;
  white-space: nowrap;
  word-spacing: 56px;
  display: inline;
  white-space: pre;
}
.dark .string-container {
  color: #ffffff;
}
.hidden-input {
  opacity: 0;
  position: absolute;
  top: -100px;
  left: -500px;
}

@media (max-width: 991px) {
  .bird {
    width: 96px;
    height: 96px;
  }
  .bird svg {
    width: 96px;
    height: 96px;
  }
  .string-container {
    font-size: 96px;
    line-height: 112px;
  }
}

@media (max-width: 480px) {
  .bird {
    width: 88px;
    height: 88px;
    margin-right: 24px;
  }
  .bird svg {
    width: 96px;
    height: 96px;
  }
  .string-container {
    font-size: 48px;
    line-height: 59px;
    word-spacing: 18px;
  }
}

/* eat */
@-webkit-keyframes eat {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-moz-keyframes eat {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-o-keyframes eat {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes eat {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

/* beak */
@-webkit-keyframes eatBeak {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(25deg)
  }
  90% {
    transform: rotateZ(-6deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
@-moz-keyframes eatBeak {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(25deg)
  }
  90% {
    transform: rotateZ(-6deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
@-o-keyframes eatBeak {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(25deg)
  }
  90% {
    transform: rotateZ(-6deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
@keyframes eatBeak {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(25deg)
  }
  90% {
    transform: rotateZ(-6deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}

/* error */
@-webkit-keyframes error {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
@-moz-keyframes error {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
@-o-keyframes error {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes error {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
</style>
