<template>
  <div class="app-container" :class="{dark : theme}">
    <MyHeader />
    <MyMain />
  </div>
</template>

<script>
import MyMain from './components/main.vue'
import MyHeader from './components/header.vue'

export default {
  name: 'App',
  components: {
    MyMain,
    MyHeader
  },
  computed: {
    theme() {
      return this.$store.getters.MODE;
    },
  },
}
</script>


<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  overflow-x: hidden;
}
.app-container {
  min-height: 100%;
}
.app-container.dark {
  background: #0A335C;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html, body {
  height: 100%;
}

</style>
